<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>De Vie</title>
  </head>
  
  <script src="javascripts/lib/build/build.js" type="text/javascript">
  </script>
  
  <script type="text/javascript">
   require('boot');
   var pomelo = window.pomelo;
  </script> 
  
  <script>
    var dojoConfig = {
        async: true,
        baseUrl: './javascripts/lib/dojo-1.9.3/',
        parseOnLoad: true,
	    packages: [
	        'dojo',
	        'dijit',
	        'dojox',
	        'util',
	        'demos'
	    ]
    };
  </script>
  <!-- <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.9.2/dojo/dojo.js"
            data-dojo-config="async: true"></script> -->
  <script src= <%= dojoPath %>></script>
  
  <link rel="stylesheet" href="/stylesheets/style.css" media="screen">
  <link rel="stylesheet" href=<%= cssPath %> media="screen">
  <style type="text/css">
	@import "/javascripts/lib/dojo-1.9.3/dojox/calendar/themes/claro/Calendar.css";
	@import "/javascripts/lib/dojo-1.9.3/dojox/calendar/themes/claro/MonthColumnView.css";
	@import "/javascripts/lib/dojo-1.9.3/dojo/resources/dojo.css";
	@import "/javascripts/lib/dojo-1.9.3/dijit/themes/dijit.css";
	@import "/javascripts/lib/dojo-1.9.3/dojox/grid/enhanced/resources/claro/EnhancedGrid.css";
	@import "/javascripts/lib/dojo-1.9.3/dojox/grid/enhanced/resources/EnhancedGrid_rtl.css";
  </style>
  <body class="claro">
 